include ../../mixins/_templates.pug
p-panel(header="{{title | translate}}", [collapsed]="true", [toggleable]="true")
  div(class="wordsDeck")
    div(class="word-block", *ngFor="let word of arrayWords", (dblclick)="onDblclick(word)", [@pushToDesk]) {{ word }}
