include ../../mixins/_templates.pug
app-desk(#RefDesk (outElementBack)="pushObjectBack($event)")

+buttons-block
  div(class="ui-toolbar-group-right")
    p-button((click)="showCustomMenu()", icon="fa fa-wrench")

+custom-page-block-card("cardDecks.robotDeck.name", "cardDecks.robotDeck.status")
  app-robots-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-robots-block-02((outCardToDesk)="pushObjectToDesk($event)")
  app-robots-block-03((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.scenarios.name", "cardDecks.scenarios.status")
  app-scenarios-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.cadDeck.name", "cardDecks.cadDeck.status")
  app-cad-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-cad-block-02((outCardToDesk)="pushObjectToDesk($event)")
  app-cad-block-03((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.aboutMeDeck.name", "cardDecks.aboutMeDeck.status")
  app-about-me-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-about-me-block-02((outCardToDesk)="pushObjectToDesk($event)")
  app-about-me-block-03((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.oh.name", "cardDecks.oh.status")
  app-oh-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-oh-block-02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.merlin.name", "cardDecks.merlin.status")
  app-merlin-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.aboutYou.name", "cardDecks.aboutYou.status")
  app-about-you-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.sayGoodbye.name", "cardDecks.sayGoodbye.status")
  app-sgtl-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-sgtl-block-02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.umbrellas.name", "cardDecks.umbrellas.status")
  app-umbrellas-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-umbrellas-block-02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.prism.name", "cardDecks.prism.status")
  app-prism-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.river.name", "cardDecks.river.status")
  app-river-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.betweenUs.name", "cardDecks.betweenUs.status")
  app-between-us-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.familyHistory.name", "cardDecks.familyHistory.status")
  app-family-history-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.subpersonality.name", "cardDecks.subpersonality.status")
  app-subpersonality-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.mixedFeelings.name", "cardDecks.mixedFeelings.status")
  app-mixed-feelings-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.mother.name", "cardDecks.mother.status")
  app-mother-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-mother-block-02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.father.name", "cardDecks.father.status")
  app-daughter-of-father-block01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.lifeScripts.name", "cardDecks.lifeScripts.status")
  app-life-scripts-block-01((outCardToDesk)="pushObjectToDesk($event)")
  app-life-scripts-block-02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.skillsAbilities.name", "cardDecks.skillsAbilities.status")
  app-skills-and-abilities-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.cockroaches.name", "cardDecks.cockroaches.status")
  app-cockroaches-block01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.duet.name", "cardDecks.duet.status")
  app-duet-block01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.rolesAndArchetypes.name", "cardDecks.rolesAndArchetypes.status")
  app-roles-and-archetypes-block01((outCardToDesk)="pushObjectToDesk($event)")
  app-roles-and-archetypes-block02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.fearsBenefits.name", "cardDecks.fearsBenefits.status")
  app-fears-benefits-block01((outCardToDesk)="pushObjectToDesk($event)")
  app-fears-benefits-block02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.complexesPsyDefense.name", "cardDecks.complexesPsyDefense.status")
  app-complexes-psy-defense-block01((outCardToDesk)="pushObjectToDesk($event)")
  app-complexes-psy-defense-block02((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.vitaminsForSoul.name", "cardDecks.vitaminsForSoul.status")
  app-vitamins-for-soul-block-01((outCardToDesk)="pushObjectToDesk($event)")

+custom-page-block-card("cardDecks.words.name", "cardDecks.words.status")
  app-words-block((outWordToDesk)="pushObjectToDesk($event)")

app-deck-menu
app-custom-menu([inCardDecks]="cardDecks")
app-input-panel((outTextToDesk)="pushObjectToDesk($event)")
