include ../../../mixins/_templates.pug

p-sidebar([(visible)]="display")
  div(class="ui-g-12 resize_buttons")
    h4 {{'WIDTH' | translate}}
      +resize-menu-button("fa fa-plus", 2, "changeWidth('increase')")
      +resize-menu-button("fa fa-minus", 2, "changeWidth('decrease')")
      +resize-menu-button("fa fa-undo", 2, "reset('width')")
  div(class="ui-g-12 resize_buttons")
    h4 {{'HEIGHT' | translate}}
      +resize-menu-button("fa fa-plus", 2, "changeHeight('increase')")
      +resize-menu-button("fa fa-minus", 2, "changeHeight('decrease')")
      +resize-menu-button("fa fa-undo", 2, "reset('height')")
  div(class="ui-g-12")
    +button("{{labelNum | translate}}", "showNumber()")([ngStyle]="{'width':'100%'}")
  div(class="ui-g-12")
    +button("{{'BUTTONS.CLOSE_PANEL' | translate}}", "display = false")(icon="fa fa-close", iconPos="right", [ngStyle]="{'width':'100%'}")
