div(class="startPageBlock")
  div(class="img-cards-block-main-page")
    h1 {{ 'MAIN_TITLE' | translate }}
  div(class="start-button-main-page")
    p-button(label="Начать", (click)="showLinkMenu()")
app-deck-menu
