mixin buttons-block
  div(class="ui-g")
    div(class="ui-g-12")
      p-toolbar
        div(class="ui-toolbar-group-left")
          p-button((click)="showInputPanel()", icon="fa fa-pencil-square")
          p-button((click)="showDeckMenu()", icon="fa fa-bars")
          p-button((click)="RefDesk.showResizeMenu()" icon="fa fa-arrows-alt")
        block

mixin cards-block(name)
  if (name)
    - var headerText = "{{title | translate}} - {{'"+name+"' | translate}}"
  else
    - var headerText = "{{title | translate}}"
  p-panel(header=headerText, [collapsed]="true", [toggleable]="true")
    +buttons-cards-block
    +imgs-cards-block

mixin buttons-cards-block
  div(class="ui-md")
    p-button(icon="fa fa-random", (click)="resort(deckCardsArray)", *ngIf="paramsButton.resort")
    p-button(icon="fa fa-refresh", (click)="inverte(deckCardsArray)", *ngIf="paramsButton.inverte")

mixin imgs-cards-block
  div(class="ui-md-12 flex-container")
    div(
      class="cardBlock flex-item",
      *ngFor="let card of deckCardsArray; index as id",
      (dblclick)="onDblclick(card)",
      [@pushToDesk]
    )
      img(
        *ngIf="card.inverted === false; else showFrontCard",
        class="img-card",
        src="./assets/images/{{card.path}}/{{card.name}}"
      )
      ng-template(#showFrontCard)
        img(class="img-card", src="./assets/images/{{card.path}}/{{card.shirt}}")
      div(class="cardNumber") {{card.id + 1 | number: '2.0'}}

mixin resize-menu-button(icon, blockWidth, clickFn)
  button(pButton, type="button", icon=icon, class="ui-g-"+blockWidth, (click)=clickFn)&attributes(attributes)

mixin button(label, click)
  button(pButton, type="button", (click)=click, label=label)&attributes(attributes)

mixin custom-menu-button(model, label)
  div(class="ui-g-12")
    p-checkbox([(ngModel)]=model, binary="true", label=label)

mixin custom-page-block-card(name, condition)
  - var heading = name
  div(*ngIf=condition)
    h3([innerHTML]=name+" | translate")
    block
