include ../../../mixins/_templates.pug

p-sidebar(styleClass="linkMenu", [(visible)]="display")
  +custom-menu-button("inCardDecks.robotDeck.status", "{{inCardDecks.robotDeck.name | translate}}")
  +custom-menu-button("inCardDecks.aboutMeDeck.status", "{{inCardDecks.aboutMeDeck.name | translate}}")
  +custom-menu-button("inCardDecks.cadDeck.status", "{{inCardDecks.cadDeck.name | translate}}")
  +custom-menu-button("inCardDecks.scenarios.status", "{{inCardDecks.scenarios.name | translate}}")
  //- +custom-menu-button("inCardDecks.aboutMeDeck.status", "{{inCardDecks.aboutMeDeck.name | translate}}")
  +custom-menu-button("inCardDecks.oh.status", "{{inCardDecks.oh.name | translate}}")
  +custom-menu-button("inCardDecks.merlin.status", "{{inCardDecks.merlin.name | translate}}")
  +custom-menu-button("inCardDecks.aboutYou.status", "{{inCardDecks.aboutYou.name | translate}}")
  +custom-menu-button("inCardDecks.sayGoodbye.status", "{{inCardDecks.sayGoodbye.name | translate}}")
  +custom-menu-button("inCardDecks.umbrellas.status", "{{inCardDecks.umbrellas.name | translate}}")
  +custom-menu-button("inCardDecks.prism.status", "{{inCardDecks.prism.name | translate}}")
  +custom-menu-button("inCardDecks.river.status", "{{inCardDecks.river.name | translate}}")
  +custom-menu-button("inCardDecks.betweenUs.status", "{{inCardDecks.betweenUs.name | translate}}")
  +custom-menu-button("inCardDecks.familyHistory.status", "{{inCardDecks.familyHistory.name | translate}}")
  +custom-menu-button("inCardDecks.subpersonality.status", "{{inCardDecks.subpersonality.name | translate}}")
  +custom-menu-button("inCardDecks.mixedFeelings.status", "{{inCardDecks.mixedFeelings.name | translate}}")
  +custom-menu-button("inCardDecks.mother.status", "{{inCardDecks.mother.name | translate}}")
  +custom-menu-button("inCardDecks.father.status", "{{inCardDecks.father.name | translate}}")
  +custom-menu-button("inCardDecks.lifeScripts.status", "{{inCardDecks.lifeScripts.name | translate}}")
  +custom-menu-button("inCardDecks.skillsAbilities.status", "{{inCardDecks.skillsAbilities.name | translate}}")
  +custom-menu-button("inCardDecks.cockroaches.status", "{{inCardDecks.cockroaches.name | translate}}")
  +custom-menu-button("inCardDecks.duet.status", "{{inCardDecks.duet.name | translate}}")
  +custom-menu-button("inCardDecks.rolesAndArchetypes.status", "{{inCardDecks.rolesAndArchetypes.name | translate}}")
  +custom-menu-button("inCardDecks.fearsBenefits.status", "{{inCardDecks.fearsBenefits.name | translate}}")
  +custom-menu-button("inCardDecks.complexesPsyDefense.status", "{{inCardDecks.complexesPsyDefense.name | translate}}")
  +custom-menu-button("inCardDecks.vitaminsForSoul.status", "{{inCardDecks.vitaminsForSoul.name | translate}}")
  +custom-menu-button("inCardDecks.words.status", "{{inCardDecks.words.name | translate}}")
  div(class="ui-g-12")
    +button("{{'BUTTONS.CLOSE_PANEL' | translate}}", "display = false")(icon="fa fa-close", iconPos="right", [ngStyle]="{'width':'100%'}")
