
div(style="position: relative; overflow: auto")
  div(class="cardDeskBlock", [ngStyle]="{'height': areaProperties.height, 'width': areaProperties.width}", #DnDBounds)
    div(id="cardDesk")
      div([ngClass]="{'moved': card.moved, 'cardBlock': true}",
          *ngFor="let card of elongatedCardsArray; index as id",
          ngDraggable,
          [inBounds]="true",
          [preventDefaultEvent]="true",
          [bounds]="DnDBounds",
          [position]="card.position",
          (started)="onStart($event, card)",
          (click)="onClick($event, card)",
          (dblclick)="setPosition(card)",
          [@outFromDesk])

        img(*ngIf="card.inverted === false; else showFrontCard",
            class="img-card",
            [ngStyle]="{'height': card.height}",
            src="./assets/images/{{card.path}}/{{card.name}}")

        ng-template(#showFrontCard)
          img(class="img-card",
              [ngStyle]="{'height': card.height}",
              src="./assets/images/{{card.path}}/{{card.shirt}}")

        div(*ngIf="displayCardNumber",
            class="cardNumber",
            [ngStyle]="{'background-color': card.numColor ? card.numColor : ''}") {{card.id + 1  | number: '2.0'}}

    div(id="wordsDesk")
      div([ngClass]="{'moved': word.moved, 'word-block': true }",
          *ngFor="let word of elongatedWordsArray",
          ngDraggable,
          [preventDefaultEvent]="true",
          [bounds]="DnDBounds",
          [inBounds]="true",
          [position]="word.position",
          (started)="onStart($event, word)",
          (click)="onClick($event, word)",
          (dblclick)="setPosition(word)",
          [@outFromDesk]) {{word.name}}

    div(id="textDesk")
      div([ngClass]="{'moved': text.moved, 'textItem-block': true }",
          ngDraggable,
          [preventDefaultEvent]="true",
          [bounds]="DnDBounds",
          [inBounds]="true",
          [handle]="DnDHandle",
          [position]="text.position",
          (started)="onStart($event, text)",
          (movingOffset)="onMoving(text)",
          (endOffset)="onMoveEnd(text)",
          *ngFor="let text of inputTextArray; index as id",
          (dblclick)="setPosition(text)",
          [@outFromDesk])

        div(#DnDHandle, class="header", (click)="onClick($event, text)")
        textarea([rows]="2",
                 [cols]="25",
                 pInputTextarea,
                 [disabled]="text.locked") {{text.name}}

<app-resize-area-menu [inAreaProperties]="areaProperties" (outShowNumber)="pushShowNumber($event)"></app-resize-area-menu>
