.cardDeskBlock {
  min-height: 90vh;
  background-color: #ffffff;
  border: 1px solid #808080;
}

#cardDesk {
  height: 350px;
}

#wordsDesk {
  height: 100px;
}

#textDesk{
  height: 200px;
}

.moved {
  position: absolute;
}

.textItem-block:hover .header {
  background-color: #4aaeff;
  cursor: move;
}

.textItem-block:hover textarea {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
}

.textItem-block:hover .header {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
}

.textItem-block textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.textItem-block .header {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  height: 2.25em;
  background-color: #74c0ff;
}