include ../../mixins/_templates.pug
app-desk(#RefDesk, (outElementBack)="pushObjectBack($event)")
+buttons-block
app-robots-block-01([random]="random", (outCardToDesk)="pushObjectToDesk($event)")
app-robots-block-02([random]="random", (outCardToDesk)="pushObjectToDesk($event)")
app-robots-block-03([random]="random", (outCardToDesk)="pushObjectToDesk($event)")
app-words-block((outWordToDesk)="pushObjectToDesk($event)")
app-deck-menu
app-input-panel((outTextToDesk)="pushObjectToDesk($event)")
