include ../../../mixins/_templates.pug
div(class="menuWrapper")
  p-sidebar(styleClass="linkMenu", [(visible)]="showMenu")
    div(*ngFor="let item of menu", class="ui-g-12")
      a([routerLink]="item.url",[queryParams]="{random: item.random}")
        button(pButton, type="button", [ngStyle]="{'width':'100%'}", [disabled]="currentUrl == item.url", label="{{item.label | translate}}")
