/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.word-block {
  padding: 10px;
  margin: 2px;
  background-color: #ffe4b5;
  font-size: 15px;
  border: 1px solid #deb887;
  border-radius: 5px;
  text-align: center;
}

.flex-item {
  margin: 0.25em;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.cardBlock img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
}

.cardBlock img {
  height: 150px;
  display: block;
  border-radius: 5px;
}

.cardNumber {
  color: #ffffff;
  background-color: #2399e5;
  display: inline-block;
  margin-left: 10px;
  padding: 3px 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ng-draggable,
.cardBlock img,
.word-block {
  cursor: move;
}

.ui-panel .ui-panel-titlebar-icon {
  float: left;
  margin-right: 10px;
}

.linkMenu {
  overflow: auto;
}

.ui-button-text .ui-clickable {
  display: none;
}