p-sidebar([(visible)]="showPanel", (onShow)="focus()", position="bottom")
  div(class="ui-g-offset-2 ui-g-8")
    div(class="ui-inputgroup")
      input(#inputRef, class="ui-inputtex ui-g-10", type="text", pInputText, (keyup.enter)="getText()", [(ngModel)]="inputText")
      button(type="button", pButton, class="inputButton", label="{{buttonText | translate}}", (click)="getText()")
