include ../../mixins/_templates.pug
app-desk(#RefDesk, (outElementBack)="pushObjectBack($event)")
+buttons-block
app-subpersonality-block-01([random]="random", (outCardToDesk)="pushObjectToDesk($event)")

app-deck-menu
app-input-panel((outTextToDesk)="pushObjectToDesk($event)")
